<!-- Modal -->
{% for item in items %}
    <div class="modal fade" id="modal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ loop.index }}"
         aria-hidden="true" {% if item.skills is defined %} data-backdrop="static" data-keyboard="false" {% endif %}>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card mb-3">
                        <h3 class="card-header text-center">{{ item.name }}</h3>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.species }}{{ item.rarity ?  item['rarity'] }}</h5>
                            <h6 class="card-subtitle">{{ item.gender }}</h6>

                        <div class="card-img">
                        <img src="{{ item.image }}" alt="Card image" class="img-fluid img-thumbnail">
                        </div>

                    <ul class="list-group list-group-flush">
                        {% if item.skills is defined %}
                            {% for skill in item.skills|slice(0,1) %}
                                    <li class="list-group-item row justify-content-center">Attack:{{ item.name|length }}</li>
                            {% endfor %}
                        {% endif %}
                        <li class="list-group-item row justify-content-center">{{ item['rarity'] =='basic' ? '2' }}{{ item['rarity'] =='junk' ? '0' }}{{ item['rarity'] =='fine' ? '4' }}{{ item['rarity'] =='masterwork' ? '6' }}{{ item['rarity'] =='rare' ? '8' }}{{ item['rarity'] =='exotic' ? '10' }}{{ item['rarity'] =='ascended' ? '12' }}{{ item['rarity'] =='legendary' ? '20' }}
                        </li>
                    </ul>
                    </div>
                    </div>
                    {% if item.skills is not defined %}
                    <div class="card-body " >
                        {% if item['rarity']=='junk' %}
                         oh!! no there is no choco miam
                        {% else %}

                            Well done !  {{ item['rarity'] =='basic' ? '2' }}{{ item['rarity'] =='fine' ? '4' }}{{ item['rarity'] =='masterwork' ? '6' }}{{ item['rarity'] =='rare' ? '8' }}{{ item['rarity'] =='exotic' ? '10' }}{{ item['rarity'] =='ascended' ? '12' }}{{ item['rarity'] =='legendary' ? '20' }} choco yum yum !!

                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="card-body row justify-content-center">
                        <input style="color: #212121;" class="close" type="button"  data-dismiss="modal" onclick="incrementValue({% if item.skills is defined %}{{ -item.name|length }}{% endif %}{{ item['rarity']=='junk' ? 0 }}{{ item['rarity'] =='basic' ? 2 }}{{ item['rarity'] =='fine' ? 4 }}{{ item['rarity'] =='masterwork' ? 6 }}{{ item['rarity'] =='rare' ? 8 }}{{ item['rarity'] =='exotic' ? 10 }}{{ item['rarity'] =='ascended' ? 12 }}{{ item['rarity'] =='legendary' ? 20 }})" value="Increment Value"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
