<!-- Modal -->
{% for item in items %}
<div class="modal fade" id="modal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-3">
                    <h3 class="card-header">{{ item.name }}</h3>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.gender }}</h5>
                        <h6 class="card-subtitle text-muted">{{ item.origin }}</h6>
                    </div>
                    <img src="{{ item.image }}" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ item.skills }}</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <h4>ENIGME</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}